extends ../layouts/admin

block content
  .container-fluid.py-4
    .row
      .col-12
        .card.mb-4
          .card-header.pb-0.d-flex.justify-content-between.align-items-center
            h6 Chi tiết người dùng
            .d-flex
              a.btn.btn-sm.btn-primary.me-2(href=`/admin/users/${user.id}/edit`)
                i.fas.fa-edit.me-2
                | Chỉnh sửa
              a.btn.btn-sm.btn-secondary(href="/admin/users")
                i.fas.fa-arrow-left.me-2
                | Quay lại
          
          .card-body
            .row
              .col-md-6
                .form-group
                  label.form-control-label ID
                  p.form-control-static= user.id
              
              .col-md-6
                .form-group
                  label.form-control-label Vai trò
                  p.form-control-static
                    span(class=`badge bg-${user.role === 'admin' ? 'danger' : 'info'}`)= user.role
            
            .row.mt-3
              .col-md-6
                .form-group
                  label.form-control-label Họ tên
                  p.form-control-static= user.name
              
              .col-md-6
                .form-group
                  label.form-control-label Email
                  p.form-control-static= user.email
            
            .row.mt-3
              .col-md-6
                .form-group
                  label.form-control-label Số điện thoại
                  p.form-control-static= user.phone || 'N/A'
              
              .col-md-6
                .form-group
                  label.form-control-label Địa chỉ
                  p.form-control-static= user.address || 'N/A'
            
            .row.mt-3
              .col-md-6
                .form-group
                  label.form-control-label Ngày tạo
                  p.form-control-static= new Date(user.created_at || user.createdAt).toLocaleString('vi-VN')
              
              .col-md-6
                .form-group
                  label.form-control-label Cập nhật lần cuối
                  p.form-control-static= new Date(user.updated_at || user.updatedAt).toLocaleString('vi-VN')